# python programming and markdown
##  python programming and markdown
###  python programming and markdown
####  python programming and markdown
#####  python programming and markdown

#  python programming 
- point 1
   - point 11
- point 2
   - point 21
   - point 22
- point 3

* **point 1**
* *point*
* ***point***

### Adding the links to Markdown
* google site - [Google][1]
[1]:http://www.google.com

#  python programming
- python version 3.7
- functional programming
- object oriented programming
- scripting programming

In [2]:
print("hello gitam")

hello gitam

In [3]:
print("hello vzag!!!!!!")

hello vzag!!!!!!

In [5]:
print('hello Gitam','|||',end='')
print('vizag')

hello Gitam |||vizag

In [6]:
print('hello kalyan')

hello kalyan

In [8]:
a = 56 
print(a)
print(type(a))

56
<class 'int'>

In [9]:
name = 'kalyan'
another_name = 'chowdary'
print(name)
print(type(name))
print(another_name)

kalyan
<class 'str'>
chowdary

In [10]:
force = 12.560414314304
print(force)
print(type(force))

12.560414314304
<class 'float'>

In [11]:
s1 = '100'
print(s1,end='')
print(type(s1))
a1 = input(name)
print(a1)

100<class 'str'>
kalyanchowdary
chowdary

In [12]:
s2 = 56.1345604
print(len(str(s2)))

10

In [13]:
f = ''
flow = input(f)
a = int(flow)
print(a)

645
6454856
4856

In [15]:
name =input("enter your name")
print(name,type(name))

enter your namekalyan
kalyan <class 'str'>

In [3]:
number = int(input('enter a number'))
print(number, 'is represented')

enter a number04
4 is represented

In [2]:
number = float(input('enter a number'))
print(number,' is represented')

enter a number56
56.0  is represented

In [1]:
no = int(input('enter a number:'))
result = no + 29 - 3 * 2 / 4
print(result)

enter a number:56
83.5

In [4]:
x = 2**4
print(x)

16

In [6]:
a = 10
b=(a > 9)and(a >= 10)
print(b,type(b))
b=(a > 9) or (a > 100)
print(b,type(b))

True <class 'bool'>
True <class 'bool'>

In [10]:
a1 =int(input('enter a number'))
if a1%2 == 0:
    print('even')
else:
    print('odd')

enter a number56
even

In [ ]:
a1 =int(input('enter a number'))
if a1 == 0: